.black {
    --width: 60px;
    height: calc(var(--width) * 4);
    background-color: rgb(59, 56, 56);
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    position: relative;
    float: left;
    border-radius: 5px;
}

.black.active {
    background-color: #333;
}